[user]
	name = Evan Harmon
	email = evan@evanharmon.com
[core]
	excludesfile = /Users/evan/.gitignore_global
	editor = mate --wait
[merge]
    tool = nova
[mergetool "nova"]
    cmd = nova --wait $MERGED
[diff]
    tool = nova
[difftool "nova"]
    cmd = nova --wait --diff $LOCAL $REMOTE
[color]
	status = always
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
# Conditional to use a specific .gitconfig file if repo is in the specified folder. E.g., for work git user.
# Trailing slash should make it apply to all subfolders as well.
[includeIf "gitdir:~/Local/RevLogical/"]
	path = ~/Local/RevLogical/.gitconfig
[init]
	templateDir = /Users/evan/.git-template
