[user]
	name = Evan Harmon
	email = evan@evanharmon.com
[core]
	excludesfile = /Users/evan/.gitignore_global
	editor = code-insiders --wait --new-window
[merge]
	tool = code-insiders
[mergetool "code-insiders"]
	cmd = code-insiders --new-window --wait $MERGED
[diff]
	tool = code-insiders
[difftool "code-insiders"]
	cmd = code-insiders --wait --new-window --diff $LOCAL $REMOTE
[color]
	status = always
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
# Conditional to use a specific .gitconfig file if repo is in the specified folder. E.g., for work git user.
# Trailing slash should make it apply to all subfolders as well.
[includeIf "gitdir:~/Local/RevLogical/"]
	path = ~/Local/RevLogical/.gitconfig
[includeIf "gitdir:~/Local/AltRevLogical/"]
	path = ~/Local/AltRevLogical/.gitconfig
[init]
	templateDir = /Users/evan/.git-template
[alias]
	ll = log --graph --oneline --decorate
