# Development Python packages to be installed globally

numpy
pandas
beautifulsoup4
requests
bcrypt
pandoc
cookiecutter
whispers


#             Optional
#------------------------------------------------------------------------------
# docker-compose
# PyYAML
