# Development Python packages to be installed globally

numpy
pandas
beautifulsoup4
requests
bcrypt
pandoc
cookiecutter
whispers


#             Optional
#------------------------------------------------------------------------------
# docker-compose
# PyYAML
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
