server:
  address: "tcp4://:9091"

log:
  level: debug
  file_path: "/var/log/authelia/authelia.log"
  keep_stdout: true

identity_validation:
  elevated_session:
    require_second_factor: true
  reset_password:
    jwt_lifespan: "5 minutes"
    jwt_secret: file:///secrets/jwt_secret.txt

totp:
  disable: false
  issuer: "harmonops.com"
  period: 30
  skew: 1

password_policy:
  zxcvbn:
    enabled: true
    min_score: 4

authentication_backend:
  file:
    path: "/config/users.yml"
    password:
      algorithm: "argon2"
      argon2:
        variant: "argon2id"
        iterations: 3
        memory: 65535
        parallelism: 4
        key_length: 32
        salt_length: 16

access_control:
  default_policy: "deny"
  rules:
    - domain: "traefik.harmonops.com"
      policy: "one_factor"
    - domain: "whoami-secure.harmonops.com"
      policy: "two_factor"
    - domain: "whoami-homelab.harmonops.com"
      policy: "one_factor"

session:
  name: "authelia_session"
  secret: file:///secrets/session_secret.txt
  cookies:
    - domain: "harmonops.com"
      authelia_url: "https://auth.harmonops.com"

regulation:
  max_retries: 4
  find_time: 120
  ban_time: 300

storage:
  encryption_key: file:///secrets/storage_encryption_key.txt
  local:
    path: "/config/db.sqlite3"

notifier:
  disable_startup_check: false
  filesystem:
    filename: "/config/notification.txt"
