services:
  traefik:
    image: "traefik:latest"
    container_name: "traefik"
    restart: "unless-stopped"
    security_opt:
      - "no-new-privileges=true"
    networks:
      proxy:
        aliases:
          - "auth.harmonops.com"
      authelia: {}
    ports:
      - "80:80"
      - "443:443"
    environment:
      TZ: "America/Chicago" ## see below
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik/config/traefik.yml:/traefik.yml:ro"
      - "./traefik/config/dynamic.yml:/dynamic.yml:ro"
      - "./traefik/data/:/data"
      - "./traefik/logs:/logs"
    labels:
      traefik.enable: "true"
      traefik.http.routers.dashboard.rule: "Host(`traefik.harmonops.com`)"
      traefik.http.routers.dashboard.entrypoints: "https"
      traefik.http.routers.dashboard.middlewares: "authelia@docker"
      traefik.http.routers.dashboard.service: "api@internal"

  whoami:
    image: "traefik/whoami"
    restart: "unless-stopped"
    container_name: "whoami"
    labels:
      traefik.enable: "true"
      traefik.http.routers.whoami.rule: "Host(`whoami.harmonops.com`)"
      traefik.http.routers.whoami.entrypoints: "https"
    networks:
      proxy: {}

  authelia:
    image: "authelia/authelia:4.38"
    container_name: "authelia"
    volumes:
      - "./authelia/secrets:/secrets:ro"
      - "./authelia/config:/config"
      - "./authelia/logs:/var/log/authelia/"
    networks:
      authelia: {}
    labels:
      ## Expose Authelia through Traefik
      traefik.enable: "true"
      traefik.docker.network: "authelia"
      traefik.http.routers.authelia.rule: "Host(`auth.harmonops.com`)"
      traefik.http.routers.authelia.entrypoints: "https"
      ## Setup Authelia ForwardAuth Middlewares
      traefik.http.middlewares.authelia.forwardAuth.address: "https://authelia:9091/api/authz/forward-auth"
      traefik.http.middlewares.authelia.forwardAuth.trustForwardHeader: "true"
      traefik.http.middlewares.authelia.forwardAuth.authResponseHeaders: "Remote-User,Remote-Groups,Remote-Name,Remote-Email"
    environment:
      TZ: "America/Los_Angeles"
      X_AUTHELIA_CONFIG_FILTERS: "template"

  whoami-secure:
    image: "traefik/whoami"
    restart: "unless-stopped"
    container_name: "whoami-secure"
    labels:
      traefik.enable: "true"
      traefik.http.routers.whoami-secure.rule: "Host(`whoami-secure.harmonops.com`)"
      traefik.http.routers.whoami-secure.entrypoints: "https"
      traefik.http.routers.whoami-secure.middlewares: "authelia@docker"
    networks:
      proxy: {}

networks:
  proxy:
    external: true
    name: "proxy"
  authelia:
    name: "authelia"
